# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
venv/
env/

# Data files (optional, if you want to ignore large CSVs)
*.csv

# Mac system files
.DS_Store

# Logs and temporary files
*.log
*.tmp
